@page "/{UserId:int}/{ParkId:int}/{RoomId:int}"

@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage;

<div id="computersPage">
    <div id="headerContainer">
        <div>
            <img src="/favicon.png" alt="Logo" id="logo" />
        </div>
        <div>
            <h1>Computers</h1>
        </div>
        <div>
            <a href="@UserId/tickets"><button class="computerActionButton">Tickets</button></a>
        </div>
    </div>
    
    @if (Computers.Count != 0)
    {
        <div id="computerCardsContainer">
            @foreach (var Computer in Computers)
            {
                <div class="computerCard">
                    <div class="computerCardContainer">
                        <p>@Computer.name (@Computer.id)</p>
                        <p>@Computer.os</p>
                        <p>@Computer.os_version</p>
                        <p>@Computer.status</p>

                        <div class="computerCardActionButtonsContainer">
                            <button class="computerCardActionButtons" @onclick="() => DeleteComputer(Computer.id)">Delete</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No computer</p>
    }
</div>
